<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hogwarts Web</title>
    <style>
      .table-header {
        padding-right: 10px;
        font-size: 20px;
        font-weight: 100;
        background-color: rgba(0, 20, 100, 0.1);
      }
      .nav-item {
        text-decoration: none;
        float: left;
      }

      .nav-item > a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h2 style="display: inline;">Hogwarts CRM</h2>

    <a href="/students">Students</a>
    <a href="/new_student">New Student</a>

    <br />
    {% block body %}{% endblock %}
  </body>
</html>
